# https://editorconfig.org/

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Override for Makefile
[{Makefile,makefile,GNUmakefile,go.mod,go.sum,.gitmodules}]
indent_style = tab
indent_size = 4

[Makefile.*]
indent_style = tab
indent_size = 4

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.yaml]
indent_style = space
indent_size = 2

